
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">health<strong>Net</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div id="navbar" class="navbar-collapse collapse"><!-- <form class="navbar-form navbar-right"> -->
                {# {% if user.is_authenticated %} #}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="homepage.html">Home</a></li>
                        <li><a href="#">My Info</a></li>
                        <li class="My Appointments">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Appointments<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="create_appointment_view.html">Create Appointment</a></li>
                            <li><a href="#">Cancel an Appointment</a></li>
                            <li><a href="#">Edit an Existing Appointment</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                {# {% endif %} #}
          </form>
        </div><!--/.navbar-collapse -->
      </div>
</nav>