{% extends 'base.html' %}

{% block title %} Edit Patient Medical Information {% endblock %}

{% block content %}
    <a href="{% url 'view_patient' patient_id=the_patient.pk %}">
        <button class="btn btn-primary" type="submit">
            << Back to Patient Profile 
        </button>
    </a>
    <br>
 <div class="form-wrap">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'edit_patient_medical_info' patient_id=the_patient.pk %}" method="post" accept-charset="utf-8" class="form" role="form">
                {% include '_partials/messages.html' %}
                {% csrf_token %}
                <legend>Edit Medical Info</legend>
                <label>Update height and weight.</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="text" name="height" value="{{patient_mi.height}}" class="form-control" required />
                        </div>
                        <div class="col-xs-6">
                            <input type="text" name="weight" value=" {{patient_mi.weight}}" class="form-control" placeholder="Weight" required />
                        </div>
                    </div>
                    <br>
                    <label>Sex</label><br>
                         <div class="radio-inline">
                             <label>
                                {% if patient_mi.sex == 'Male' %}
                                    <input type="radio" name="sex" value="Male" class="form-control" checked />Male
                                {% else %}
                                    <input type="radio" name="sex" value="Male" class="form-control" />Male
                                {% endif %}
                             </label>
                         </div>

                         <div class="radio-inline">
                             <label>
                                {% if patient_mi.sex == 'Female' %}
                                    <input type="radio" name="sex" value="Female" class="form-control" checked />Female
                                {% else %}
                                    <input type="radio" name="sex"  value="Female" class="form-control" />Female
                                {% endif %}
                             </label>
                         </div>
                    <br><br>
                    <label>Current Medications</label>
                        <input type="text" name="medications" value="{{ patient_mi.medications }}" class="form-control" />
                    <br>
                    <label>Allergies</label>
                        <input type="text" name="allergies" value="{{ patient_mi.allergies }}" class="form-control"/>
                    <br>
                    <label>Existing Medical Conditions</label>
                        <input type="text" name="medical_conditions" value="{{ patient_mi.medical_conditions }}" class="form-control"/>
                    <br>
                    <label>Family History</label>
                        <input type="text" name="family_history" value="{{ patient_mi.family_history }}" class="form-control"/>
                    <br>
                    <label>Additional Information</label>
                        <input type="text" name="additional_info" value="{{ patient_mi.additional_info }}" class="form-control"/>
                    <br>

                    <br>
                    <label>Primary Hospital</label>
                    <select name="primary_hospital" class="form-control" required>
                        <option value="{{ patient_mi.primary_hospital.hospital_id }}" selected>
                            {{ patient_mi.primary_hospital.name }}</option>
                        {% for hospital in hospitals %}
                            <option value={{ hospital.hospital_id }}>{{ hospital.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                    <br>
                    <br>
                    <br>
            </form>
        </div>
 </div>


{% endblock %}