{% extends 'base.html' %}

{% block title %} Reply {% endblock %}

{% block content %}

    <a href="{% url 'view_message' message_id=msg.id %}"><button class="btn btn-primary" type="submit"> << Back to View Message </button></a>

    <div class="form-wrap">
        <div class="col-md-6 col-md-offset-3">
            <form action="{% url 'reply_to_message' message_id=msg.id %}" method="post" accept-charset="utf-8" class="form" role="form">

                {% csrf_token %}

                <legend>Reply to {{ msg.user_from }}</legend>

                <label>Subject: {{ msg.subject }}</label>
                <br>
                <label>Message</label>
                <textarea name="message" rows="10" cols="75">{{ stub }}</textarea>
                <br>
                <div class="row">
                    <div class="col-sm-5 col-sm-offset 5">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>


{% endblock %}