{% extends 'base.html' %}

{% block title %} View Message {% endblock %}

{% block content %}
    {#% if msg.user_from == user.userprofile %#}
        <a href="{% url 'sent' %}"><button class="btn btn-primary" type="submit"> << Back to Sent </button></a>
    {#% endif %#}
    <div class="form-wrap">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6 col-md-offset-4">
                <form action="{% url 'all' %}" method="post" accept-charset="utf-8" class="form" role="form">
                    {% csrf_token %}
                    <input type="hidden" name="message_id" value="{{ msg.id }}"/>
                    {% if msg.read %}
                        <button class="btn btn-success " type="submit">Mark as Unread</button>
                    {% else %}
                        <button class="btn btn-success " type="submit">Mark as Read</button>
                    {% endif %}
                </form>
                </div>
            </div>
            <br>
            <div class="row">

                <legend>Message From {{ msg.user_from }} To {{ msg.user_to }}</legend>
                <label>Subject</label>
                {{ msg.subject }}
                <br>
                <br>
                <label>Time</label>
                <br>
                {{ msg.time }}
                <br>
                <br>
                <label>Content</label>
                <br>
                <textarea class="view-message" name="" rows="15" cols="75" disabled>{{ msg.message }}</textarea>

                <br>
            </div>
            <div class="row">
            <div class="col-md-6 col-md-offset-3">
            {% if not msg.user_from == user.userprofile %}

                    <a href="{% url 'reply_to_message' message_id=msg.id %}">
                        <button class="btn btn-primary" type="submit">
                            Reply
                        </button>
                    </a>
                    <a href="{% url 'delete_message' message_id=msg.id %}">
                        <button class="btn btn-danger" type="submit">
                            Delete Message
                        </button>
                    </a>
            {% endif %}
            </div>
            </div>
            <br>

        </div>
    </div>


{% endblock %}