{% extends 'base.html' %}

{% block title %} Patient Search {% endblock %}

{% block content %}
    <a href="{% url 'base_dashboard' %}"><button class="btn btn-primary" type="submit"> << Back to Home </button></a>
    <br>
    <div class="form-wrap">
        <div class="col-md-7 col-md-offset-2">
            <form action="{% url 'view_all_patients' %}" method="post" accept-charset="utf-8" class="form" role="form">
                {% include '_partials/messages.html' %} {% csrf_token %}
                <legend><h2>Search Patients</h2> <h5>(This search may be case sensitive.)</h5></legend>
                <p>
                    {% if keyword %}
                        <div class="search">
                            <span class="fa fa-search"></span>
                            <input type="text" name="search" class="form-control" placeholder="Search"  />
                        </div>
                        <br>
                        <label>Showing {{ num_logs }} results for "{{ keyword }}" </label>
                    {% else %}
                        <div class="search">
                            <span class="fa fa-search"></span>
                            <input type="text" name="search"   class="form-control" placeholder="Search"  />
                        </div>
                        <br>
                        <label>Showing all patients...</label>
                    {% endif %}
                </p>
                <br>
                <ul class="list-group">
                    {% for patient in all_patients %}
                        <li class="list-group-item">
                            <a href="{% url 'view_patient' patient_id=patient.pk %}">
                                <h4 class="list-group-item-heading">
                                    {{ patient.get_full_name }}

                                </h4>
                            </a>

                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock %}