
.navbar-dragon {
    opacity: 0.6;
    align-content: center;
}
.navbar-dragon{background-color:#f8f8f8;border-color:#e7e7e7; text-align: center}
.navbar-dragon .navbar-brand{color:#777; text-align: center}
.navbar-dragon .navbar-brand:focus,.navbar-dragon 
.navbar-brand:hover{color:#5e5e5e;background-color:transparent}
.navbar-dragon .navbar-text{color:#777;text-align:center}
.navbar-dragon .navbar-nav>li>a{color:#777}
.navbar-dragon .navbar-nav>li>a:focus,.navbar-dragon .navbar-nav>li>a:hover{color:#333;background-color:transparent}
.navbar-dragon .navbar-nav>.active>a,.navbar-dragon .navbar-nav>.active>a:focus,.navbar-dragon .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}
.navbar-dragon .navbar-nav>.disabled>a,.navbar-dragon .navbar-nav>.disabled>a:focus,.navbar-dragon .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}
.navbar-dragon .navbar-toggle{border-color:#ddd}.navbar-dragon .navbar-toggle:focus,.navbar-dragon .navbar-toggle:hover{background-color:#ddd}
.navbar-dragon .navbar-toggle .icon-bar{background-color:#888}
.navbar-dragon .navbar-collapse,.navbar-dragon .navbar-form{border-color:#e7e7e7}
.navbar-dragon .navbar-nav>.open>a,.navbar-dragon .navbar-nav>.open>a:focus,.navbar-dragon .navbar-nav>.open>a:hover{color:#555;background-color:#e7e7e7}
@media (max-width:767px)
{
    .navbar-dragon .navbar-nav .open .dropdown-menu>li>a{color:#777}  
    .navbar-dragon .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-dragon .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent;}
    .navbar-dragon .navbar-nav .open .dropdown-menu>.active>a,.navbar-dragon .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-dragon .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7;}
    .navbar-dragon .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-dragon .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-dragon .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}
}
.navbar-dragon .navbar-link{color:#777}
.navbar-dragon .navbar-link:hover{color:#333}
.navbar-dragon .btn-link{color:#777}
.navbar-dragon .btn-link:focus,.navbar-dragon .btn-link:hover{color:#333}
.navbar-dragon .btn-link[disabled]:focus,.navbar-dragon .btn-link[disabled]:hover,fieldset[disabled] 
.navbar-dragon .btn-link:focus,fieldset[disabled] 
.navbar-dragon .btn-link:hover{color:#ccc}
.navbar-dragon .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-dragon .navbar-brand {float:none;}